:root {
  --primary: #EB1616;
  --secondary: #191C24;
  --light: #6C7293;
  --dark: #000000;
}


body {
  background-color: var(--dark);
  color: var(--light);
}
input[type="password"] {
  background-color: var(--dark);
  outline: transparent;
  border: var(--secondary);
  color: var(--light);
}

input[type="text"] {
  color: var(--light);
}

input[type="password"]::placeholder {
  color: var(--light);
  padding-top: 0.5rem;
}
.mantine-PasswordInput-visibilityToggle:hover {
  background-color: var(--dark);
}
